@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html{
  font-size:62.5%;
}
body,html{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
//头部
header{
  width: 100%;
  height: 5rem;
  background: #F3F3F3;
  border-bottom: 1px solid grey;
  .header_ul{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back{
      width:20%;
      height:80%;
      //background: red;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      p{
        width: 90%;
        height:70%;
        font-size: 2rem;
        font-weight: bold;
        border: 1px solid grey;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
      }
    }
    .header_img{
      width:60%;
      height:80%;
      //background: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width:60%;
        height:65%;
      }
    }
    .null{
      width:20%;
      height:80%;
      //background: blue;
    }
  }
}
//主体内容
.content{
  width: 100%;
  flex-grow:1;
  overflow: auto;
  //轮播图
  #lunbo{
    width:100%;
    height:13rem;
    //background: red;
    .swiper-container{
      width:100%;
      height:100%;
      .swiper-slide{
        width:100%;
        height:100%;
        img{
          width:100%;
          height:80%;
        }
      }
    }
  }
  //列表
  #liebiao{
    width:90%;
    height:15rem;
    margin: 0 auto;
    //background: red;
    .liebiao_ul{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
      li{
        width:25%;
        height:8rem;
        line-height: 2rem;
        img{
          width: 4.8rem;
          height:4.5rem;
        }
        //label{
        //  color: red;
        //  font-size: 1.8rem;
        //  font-weight: bold;
        //}
      }
    }
  }
  //排行榜
  #paihang{
    width:90%;
    margin: 15px auto;
    //排行上
    .paihang_top{
      width: 100%;
      height:3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 5px solid #DCDCDC;
      h2:nth-of-type(1){
        border-left: 4px solid red;
      }
    }
    //排行下
    .paihang_bottom{
      width: 100%;
      .paihang_ul{
        width: 100%;
        li{
          width: 100%;
          height: 5.5rem;
          background: #F4F4F4;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .li_div1{
            width: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            color: white;
            font-weight: bold;
            background: #E00102;
          }
          .color1{
            background: #E00102;
          }
          .color2{
            background: #FF4900;
          }
          .color3{
            background: #FF7300;
          }
          .color4{
            background: #FF9C00;
          }
          .color5{
            background: #FFA800;
          }
          .color6{
            background: #FFB400;
          }
          .color7{
            background: #FFB900;
          }
          .color8{
            background: #FCCF00;
          }
          .color9{
            background: #FED718;
          }
          .color10{
            background: #FFE152;
          }
          .li_div2{
            width:30%;
            height: 100%;
            img{
              width: 100%;
              height:100%;
            }
          }
          .li_div3{
            width:31%;
            height: 100%;
            color: #A4A4A4;
            font-size: 1.3rem;
            font-weight: bold;
            margin-top: 40px;
            margin-left: 3px;
            .li_p1{
              width: 100%;
              display: flex;
              align-items: center;
            }
            .li_p2{
              width:100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .span1{
                color: #BA1833;
              }
              .span2{
                text-decoration: line-through;
              }
            }
          }
          .li_div4{
            width:29%;
            height:100%;
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            justify-content: space-around;
            align-items: center;
            h2:nth-of-type(1){
              color: #BA1833;
            }
            h2:nth-of-type(2){
              color: #D5D5D5;
            }
          }
        }
      }
    }
  }
  //逛
  .guang{
    width:90%;
    height:5rem;
    line-height: 5rem;
    background: #F5F5F5;
    margin: 10px auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: grey;
  }
  //团
  .tuan{
    width:90%;
    height:20rem;
    //background: pink;
    margin: 10px auto;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: grey;
    display: flex;
    justify-content: space-between;
    .left{
      width:30%;
      height:100%;
      img{
        width:100%;
        height:100%;
      }
    }
    .right{
      width:70%;
      height:100%;
      .tuan_ul{
        width: 100%;
        height:25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
          width:33%;
          height:100%;
          border: 1px solid #EFEFEF;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .on{
          color: #D71E45;
        }
      }
    }
  }
  //客户端
  .kehu{
    width:90%;
    height:9rem;
    background: pink;
    margin: 10px auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    .kehu_ul{
      width:100%;
      height:100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li{
        width:33.3%;
        height:100%;
        color: white;
        //font-weight: bold;
        p{
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 50px;
        }
        p:nth-of-type(1){
          font-size: 3rem;
        }
        p:nth-of-type(2){
          font-size: 1.6rem;
        }
      }
      li:nth-of-type(1){
        background: #38A3F1;
      }
      li:nth-of-type(2){
        background: #8CCA11;
      }
      li:nth-of-type(3){
        background: #FF7405;
      }
    }
  }
  //登录
  #denglu{
    width: 100%;
    background: #F8F8F8;
    #denglu_div{
      width:90%;
      height:4rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .denglu_p1{
        font-weight: bold;
        font-size: 2rem;
        span:nth-of-type(1){
          margin-right: 1rem;
        }
      }
      .denglu_p2{
        font-weight: bold;
        font-size: 2rem;
        .fa{
          margin-left: 10px;
          color: #999999;
        }
      }
    }
  }
  //底部
  #bottom{
    width: 100%;
    height:6rem;
    text-align: center;
    background: #EEEEEE;
    h1{
      line-height: 4rem;
      font-size: 2rem;
    }
    h2{
      font-size: 1.7rem;
      color: #A9A9A9;
      line-height: 1rem;
    }
  }

}